In [15]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

### 1. 데이터 불러오기

In [16]:
fire_17 = pd.read_excel("C:/Users/Kim Won Gyeung/Desktop/공모전/2021 빅데이터 분석 및 아이디어 공모전/2.사용_데이터(정제데이터)/3. 공공데이터포털(api, csv 둘다)/17년도 대전광역시 화재발생 데이터.xlsx")
daejeon_dong = gpd.read_file("C:/Users/Kim Won Gyeung/Desktop/공모전/2021 빅데이터 분석 및 아이디어 공모전/2.사용_데이터(정제데이터)/2.[대전]COMPAS공개데이터/26.대전광역시_법정경계(읍면동).geojson")

In [12]:
fire_17.head()

,연번,조사서번호,사망,부상,인명피해(명)소계,재산피해소계,시도본부,소방서,119안전센터,119지역대,...,방화셔터,방화문,방화구획여부,방화동기,지번동,지번리,그을음면적,차량발화지점,위험물_가스제조소등_발화지점,선박항공기구분
0,122,'170102093834893,0,0,0,3373,대전소방본부,동부소방서,원동119안전센터,NaN,...,NaN,NaN,NaN,NaN,신인동,NaN,12.0,NaN,NaN,NaN
1,141,'170102130146183,0,0,0,50,대전소방본부,서부소방서,가수원119안전센터,NaN,...,NaN,NaN,NaN,NaN,장안동,NaN,NaN,NaN,NaN,NaN
2,167,'170102181423973,0,0,0,238,대전소방본부,유성소방서,구암119안전센터,NaN,...,NaN,NaN,NaN,NaN,원신흥동,NaN,2.0,NaN,NaN,NaN
3,242,'170103124709197,0,0,0,682,대전소방본부,대덕소방서,송촌119안전센터,NaN,...,NaN,NaN,NaN,NaN,비래동,NaN,NaN,기타차량위치,NaN,NaN
4,376,'170104160524978,0,0,0,13,대전소방본부,서부소방서,복수119안전센터,NaN,...,NaN,NaN,NaN,NaN,도마2동,NaN,0.0,NaN,NaN,NaN

In [17]:
daejeon_dong

       EMD_CD EMD_KOR_NM                                           geometry
0    30110101         원동  MULTIPOLYGON (((127.43429 36.32904, 127.43431 ...
1    30110102         인동  MULTIPOLYGON (((127.43909 36.32427, 127.43898 ...
2    30110103         효동  MULTIPOLYGON (((127.44155 36.31926, 127.44162 ...
3    30110104         천동  MULTIPOLYGON (((127.44675 36.31952, 127.44680 ...
4    30110105        가오동  MULTIPOLYGON (((127.45415 36.31216, 127.45425 ...
..        ...        ...                                                ...
172  30230122        부수동  MULTIPOLYGON (((127.47616 36.44571, 127.47677 ...
173  30230123        황호동  MULTIPOLYGON (((127.50279 36.45550, 127.50280 ...
174  30230124        삼정동  MULTIPOLYGON (((127.46258 36.45616, 127.46329 ...
175  30230125        미호동  MULTIPOLYGON (((127.48423 36.47580, 127.48428 ...
176  30230126       신탄진동  MULTIPOLYGON (((127.43213 36.45662, 127.43379 ...

[177 rows x 3 columns]

### 2. 데이터 동 별로 count 하기

In [34]:
fire_count_dong_17=pd.DataFrame(fire_17['읍면동'].value_counts())

In [35]:
fire_count_dong_17.reset_index(inplace = True)
fire_count_dong_17.rename(columns = {"index":"EMD_KOR_NM","읍면동":"count"}, inplace = True)

In [36]:
fire_count_dong_17

    EMD_KOR_NM  count
0          둔산동     48
1          관저동     34
2          도마동     34
3          월평동     29
4          봉명동     25
..         ...    ...
140        대별동      1
141         금동      1
142        주산동      1
143        침산동      1
144        어남동      1

[145 rows x 2 columns]

### 3. 대전광역시_법정경계(읍면동)별 17년도 화재 발생 count geojson 만들기

In [37]:
daejeon_dong_fire_count_17=daejeon_dong.merge(fire_count_dong_17,how="outer",on="EMD_KOR_NM")

In [38]:
daejeon_dong_fire_count_17

,EMD_CD,EMD_KOR_NM,geometry,count
0,30110101,원동,"MULTIPOLYGON (((127.43429 36.32904, 127.43431 ...",7.0
1,30110102,인동,"MULTIPOLYGON (((127.43909 36.32427, 127.43898 ...",2.0
2,30110103,효동,"MULTIPOLYGON (((127.44155 36.31926, 127.44162 ...",2.0
3,30110104,천동,"MULTIPOLYGON (((127.44675 36.31952, 127.44680 ...",4.0
4,30110105,가오동,"MULTIPOLYGON (((127.45415 36.31216, 127.45425 ...",8.0
...,...,...,...,...
172,30230121,갈전동,"MULTIPOLYGON (((127.48273 36.43229, 127.48239 ...",NaN
173,30230122,부수동,"MULTIPOLYGON (((127.47616 36.44571, 127.47677 ...",NaN
174,30230123,황호동,"MULTIPOLYGON (((127.50279 36.45550, 127.50280 ...",NaN
175,30230125,미호동,"MULTIPOLYGON (((127.48423 36.47580, 127.48428 ...",1.0
176,30230126,신탄진동,"MULTIPOLYGON (((127.43213 36.45662, 127.43379 ...",11.0

In [39]:
daejeon_dong_fire_count_17 = gpd.GeoDataFrame(daejeon_dong_fire_count_17)
daejeon_dong_fire_count_17.to_file('C:/Users/Kim Won Gyeung/Desktop/공모전/2021 빅데이터 분석 및 아이디어 공모전/2.사용_데이터(정제데이터)/1.QGIS에 사용할 데이터(gid 가능데이터)/17년도 동별 화재 count.geojson', driver='GeoJSON')